<{extends file='base/base.html'}>
<{block name=title}><{$title}><{/block}>
<{block name=body}>
<form action="/register/register" method="POST" name="reg">
    <h5>用户名</h5>
    <input type="text" name="username" value="" size="50" />

    <h5>昵称</h5>
    <input type="text" name="nickname" value="" size="50" />

    <h5>密码</h5>
    <input type="password" name="password" value="" size="50" />

    <h5>密码确认</h5>
    <input type="password" name="passconf" value="" size="50" />

    <h5>电子邮箱</h5>
    <input type="text" name="email" value="" size="50" />

    <div>
        <input type="submit" value="注册"/>
    </div>

    <a href="/main/index">返回</a>

</form>
<{/block}>